include src/pes/conf.d/*
include src/pes/conf.d/pes/*
include src/pes/conf.d/retroarch/*
include src/pes/data/*
include src/pes/qml/*
include src/pes/qml/Components/*
include src/pes/qml/icons/*
include src/pes/qml/images/*
include src/pes/qml/sounds/*
include src/pes/qml/Style/*
include src/pes/web/static/css/*
include src/pes/web/static/js/*
include src/pes/web/templates/*
