{% include 'header.html' %}

            <h1 class="h1">Power Options</h1>

            <div class="row">
                <div class="col-3">
                    <a href="Javascript:poweroff()" class="btn btn-primary btn-block">Power Off</a>
                </div>
            </div>
            <div style="margin-top: 20px" class="row">
                <div class="col-3">
                    <a href="Javascript:reboot()" class="btn btn-primary btn-block">Reboot</a>
                </div>
            </div>
{% include 'footer.html' %}